allow udp /usr/lib/systemd/systemd-resolved
allow udp /usr/bin/ping
# allow any /usr/bin/firefox
# allow any /usr/lib/firefox/firefox
allow udp /usr/bin/iperf
allow any /usr/bin/transmission-gtk
allow any /usr/bin/wget
enable
